@model School_Management_System_Practicum.Models.Time
@{
    ViewData["Title"] = "Addtime";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<h2>Add Time</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Addtime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TName" class="control-label"></label>
                <input asp-for="TName" class="form-control" />
                <span asp-validation-for="TName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Showtime">Back to List</a>
</div>







