@model IEnumerable<School_Management_System_Practicum.Models.Time>
@{
    ViewData["Title"] = "Showtime";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
}

<div class="row">
    <div class="col-md-12">
        <center> <h1>Classes</h1></center>
        @if (Model.Any())
        {

            <table class="table table-hover">

                <tr>

                    <th>Time</th>

                    <th>Action</th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.TName</td>

                        <td>

                            @Html.ActionLink("Delete", "Deletetime", new { id1 = item.TimeId })
                        </td>
                    </tr>


                }
            </table>

        }
        else
        {
            <p>No Time is Added to be shown</p>

        }
    </div>
</div>

