<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" type="text/css" href="~/css/Admin.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
        <div class="headerpart">
            <center>
                <img src="~/images/220px-St_Joseph_higher_secondary_badge.jpg" height="150" />
                <img src="~/images/st.PNG" width="1000" height="100" />
            </center>
        </div><br/>
        <br /><br /><br /><br />
        <div>
            @RenderBody()
        </div>
</body>
</html>
