@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
}



<center>
    <marquee bgcolor="White" loop="-1"
             scrollamount="10" width="80%"style="font-size:30px" >Welcome To Our School</marquee>
</center>


<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">

                <img src="~/images/Saint_Joseph_Higher_Secondary_School_-_North_building_(2).jpg" alt="Academic Building" style="width:100%;height:50%;">
            </div>

            <div class="item">

                <img src="~/images/school--4.jpg" alt="Academic Building" style="width:100%;height:50%;">
            </div>

            <div class="item">

                <img src="~/images/school-5.jpg" alt="New york" style="width:100%;height:100%;">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<h1 style="text-align: center; font-size: 30px; line-height: 43px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="30" data-lineheight="43">Vision and Goals</h1>


@*<div  style="width:80%;height:99%;padding:0 4% ;float: left;margin:0 6% ;background: #fff;box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1);">*@

<div align='left'>
    The words <span style="font-weight: bold;">"Advancing in Wisdom and Virtue"</span> in the monogram of the institution best serves the purpose and goals of the institution.
    The prime goals of the institution are to impart quality education to the students, get them possessed with the best of human qualities, make them aware of their rights and responsibilities, develop their leadership quality, promote their sense of morality, social values,
    fellow feeling and brotherhood and thus creating a complete man.
    St. Joseph is not only an academic institution, but a place where creativity is nurtured and nourished, individuality is developed at full pelt and social commitment is embedded. Leaders are not born, they are created here.
</div>
<br><br>
<div align='left'>
    The students who receive an education at St. Joseph Higher Secondary School receive an excellent education in the Holy Cross tradition.
    The philosophy of educating both the mind and the heart develops not only the intellectual gifts of the students for their pursuit of innumerable opportunities but, most importantly, it instills, through the love of the heart,
    communal responsibility for the good of society and a genuine compassion for the less fortunate who need help and understanding in finding their way through life.
</div>
<br><br>
<center>
    <div class="fusion-flip-boxes flip-boxes row fusion-columns-3">
        <div class="fusion-flip-box-wrapper fusion-column col-lg-4 col-md-4 col-sm-4">
            <div class="fusion-flip-box">
                <div class="flip-box-inner-wrapper" style="min-height: 269px;">
                    <div class="flip-box-front" style="background-color: rgb(135, 206, 250); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(12, 12, 12); min-height: 269px;">
                        <div class="flip-box-front-inner" style="margin-top: 28.5px;">
                            <div class="flip-box-grafix flip-box-circle" style="background-color:#ff4136;border-color:#eeee22;"><i class="fa fa-leanpub" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color:#333333;" data-fontsize="18" data-lineheight="27">Contact Us</h2>St.Joseph Higher Secondary School
                            97 Asad Avenue,
                            Mohammedpur Dhaka 1207
                            Telephone : +8802-9112917
                            Email: sjhss.bd@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="fusion-flip-box-wrapper fusion-column col-lg-4 col-md-4 col-sm-4">
            <div class="fusion-flip-box">
                <div class="flip-box-inner-wrapper" style="min-height: 269px;">
                    <div class="flip-box-front" style="background-color: rgb(135, 206, 250); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(12, 12, 12); min-height: 269px;">
                        <div class="flip-box-front-inner" style="margin-top: 28.5px;">
                            <div class="flip-box-grafix flip-box-circle" style="background-color:#ff4136;border-color:#eeee22;"><i class="fa fa-flask" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color:#333333;" data-fontsize="18" data-lineheight="27">Laboratory</h2>A well-equipped, well-decorated, neat and clean laboratory is an emblem of a top-class prestigious institution. St. Joseph has such state-of-the-art, separate laboratories for Physics, Chemistry, Mathematics, Biology and Computer. Computer laboratory is equipped with internet facilities to the students.
                        </div>
                    </div>
                </div>
            </div>
        </div><div class="fusion-flip-box-wrapper fusion-column col-lg-4 col-md-4 col-sm-4">
            <div class="fusion-flip-box">
                <div class="flip-box-inner-wrapper" style="min-height: 269px;">
                    <div class="flip-box-front" style="background-color: rgb(135, 206, 250); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(0, 0, 0); min-height: 269px;">
                        <div class="flip-box-front-inner" style="margin-top: 28.5px;">
                            <div class="flip-box-grafix flip-box-circle" style="background-color:#ff4136;border-color:#eeee22;"><i class="fa fa-users" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color:#333333;" data-fontsize="18" data-lineheight="27">Library</h2>A composite of two four-storey buildings with a two-storey building in the annex for teachers and office is located in an elite and posh area of Dhaka City just a stone's throw from the Parliament (Samsad Bhavan). The institution has a large idyllic campus of about 3.5 acres with a number of playgrounds such as cricket and football ground, basketball ground, volleyball ground, table tennis ground, etc. It has a very gigantic open auditorium adjacent to the main buildings accommodating more than 2000 people. The classrooms of the institution are spacious, well-ventilated and well-furnished. The students of classes III to X are given individual desks.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
