@model School_Management_System_Practicum.Models.Registration
@{
    ViewData["Title"] = "Signup";
    Layout = "~/Views/Shared/Adminlayout.cshtml";
}



    <center><h1>Register new user</h1></center>


    <div class="loginpart">


        <form class="form-horizontal" asp-controller="Home" asp-action="Signup" method="post">

            <div class="form-group">
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="BloodGroup" class="form-control" />
                    <span asp-validation-for="BloodGroup" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Country" asp-items="Model.Countries"></select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Class" class="form-control" />
                    <span asp-validation-for="Class" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="MobileNumber" class="form-control" />
                    <span asp-validation-for="MobileNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <input type="submit" value="Register">
            <input type="reset" value="Clear"><br />
            @if (ViewBag.Message != null)
            {
                <div class="form-control">
                    <div class="form-md-10">@ViewBag.Message</div>
                </div>
            }
        </form>

    </div>


